In [7]:
### Promedio Móvil

# Vamos a crear un DataFrame con los datos y luego procederemos a calcular el promedio movil MMO_3 = 3 y MMO_4 = 4

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# el DataFrame se llama movil
exporta = {'Año':[1,2,3,4,5,6,7,8,9,10,11,12],
                    'Exportaciones':[17, 21, 19, 23, 18, 16, 20,18,22,20,15,22]}
movil = pd.DataFrame(exporta)
# mostramos los 5 primeros registros 
movil.head()

# calculamos para la primera media móvil MMO_3

for i in range(0,movil.shape[0]-2):
    movil.loc[movil.index[i+2],'MMO_3'] = np.round(((movil.iloc[i,1]+movil.iloc[i+1,1]+movil.iloc[i+2,1])/3),1)

# calculamos para la segunda media móvil MMO_4    
for i in range(0,movil.shape[0]-3):
    movil.loc[movil.index[i+3],'MMO_4'] = np.round(((movil.iloc[i,1]+movil.iloc[i+1,1]+movil.iloc[i+2,1]+movil.iloc[i+3,1])/4),1)

# calculamos la proyeción final

proyeccion = movil.iloc[12:,[1,2,3]]
p1,p2,p3 =proyeccion.mean()
# incorporamos al DataFrame
a = movil.append({'Año ':13,'Exportaciones':p1, 'MMO_3':p2, 'MMO_4':p3},ignore_index=True)
# mostramos los resultados

a['e_MM3'] = a['Exportaciones']-a['MMO_3']
a['e_MM4'] = a['Exportaciones']-a['MMO_4']
a

     Año  Exportaciones  MMO_3  MMO_4  Año   Galones (miles)  e_MM3  e_MM4
0    1.0           17.0    NaN    NaN   NaN              NaN    NaN    NaN
1    2.0           21.0    NaN    NaN   NaN              NaN    NaN    NaN
2    3.0           19.0   19.0    NaN   NaN              NaN    0.0    NaN
3    4.0           23.0   21.0   20.0   NaN              NaN    2.0    3.0
4    5.0           18.0   20.0   20.2   NaN              NaN   -2.0   -2.2
5    6.0           16.0   19.0   19.0   NaN              NaN   -3.0   -3.0
6    7.0           20.0   18.0   19.2   NaN              NaN    2.0    0.8
7    8.0           18.0   18.0   18.0   NaN              NaN    0.0    0.0
8    9.0           22.0   20.0   19.0   NaN              NaN    2.0    3.0
9   10.0           20.0   20.0   20.0   NaN              NaN    0.0    0.0
10  11.0           15.0   19.0   18.8   NaN              NaN   -4.0   -3.8
11  12.0           22.0   19.0   19.8   NaN              NaN    3.0    2.2
12   NaN            NaN    NaN    NaN  13.0              NaN    NaN    NaN